.main_without_activity
{
    background-color: #FFFFFF;
    margin: 0 100px 0 100px;
    height: 100%;
    min-width: 350px;
    padding: 5px;
    transition: all .5s;
}

.main_with_activity
{
    float: left;
    display: flex;
    width: 77%;
    background-color: #FFFFFF;
    margin: 0 0 0 20px;
    height: 100%;
    min-width: 150px;
    padding: 5px;
    padding-right: 0px;
    animation: forwards;
    transition: all .5s;
}

#activityWindow.main_without_activity
{
    display: none;
    transition: all .5s ease;
}

#activityWindow.main_with_activity
{
    float: right;
    display: flex;
    max-width: 20%;
    transition: all .5s ease;
    margin: 0;
}

.notifications
{
    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bellIcon
{
    width: 23px;
    height: 23px;
    float: right;
}