.backdrop
{
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    min-height: 1000px;
    min-width: 500px;
}


.appbar
{
    width: 100%;
    height: 80px;
    padding: auto 0 auto 0;
    background-color: #25551b;
    text-align: left;
    display: flex;
}

.title
{
    height: 41px;
    width: 790px;
    font-family:  sans-serif;
    font-size: 50px;
    font-weight: 300;  
    display: block;
    margin: 1%;
    -webkit-font-smoothing: antialiased;
}
.outline2
{
    background-color: #FFFFFF;
    margin: 0 100px 0 100px;
    height: 100%;
    min-width: 350px;
    min-height: 400px;
    padding-top: 5px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.logout
{
  margin-right: 100px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.logout_button
{
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  color: white;
  width: 100px;
  height: 30px;
  background-color: #5C8021;
}

.logout_button:hover
{
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
  background-color: transparent;
}

.screen
{
    display: flex;
    width: 100%;
    background-color: #5C8021;
    border-color:#5C8021;
    border-width: 1px;
}

.selectionTicket
{
    width: 33.33%;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    color: white;
}

.selectionInventory
{
    width: 33.33%;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    color: white;
}

.selectionDataV
{
    width: 33.33%;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: black;
    color: white;
}

.selectionTicket:hover {
    background-color: orange;
    color: white;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
  }

  .selectionInventory:hover {
    background-color: orange;
    color: white;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: black;
  }

  .selectionDataV:hover {
    background-color: orange;
    color: white;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: black;

  }

  .selectedTicket
  {
    background-color: orange;
    color: black;
    width: 33.33%;
    height: 25px;
    text-align: center;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
  }


  .selectedInventory
  {
    background-color: orange;
    color: black;
    width: 33.33%;
    height: 25px;
    text-align: center;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: black;
  }

  .selectedDataV
  {
    background-color: orange;
    color: black;
    width: 33.33%;
    height: 25px;
    text-align: center;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: black;
  }

.outline
{
    background-color: #F2F2F2;
}

