.dataHeader{
    text-align:center;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
}

.dataNumber{
    margin-top:0;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}