.theBox
{
    height: 110px;
    width: 100%;
    padding: 0 auto 0 auto;
    flex-direction: column;
}

.marginTop
{
    margin-top: 15px;
}

.toolbar
{
    display: flex;
    width: 100%;
}

.button2
{
    margin-left: auto;
    margin-right: 0px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: #5C8021;
    border-radius: 5px;
    border-color: #5C8021;
}

.button2:hover
{
    margin-left: auto;
    margin-right: 0px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: rgb(117, 164, 42);
    border-radius: 5px;
    border-color: #5C8021;
}

.description
{
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    border-color: #5C8021;
    border-style: solid;
    border-width: 1px;
    font-size: 1.2em;
    flex-direction: row;
}

.commentUI
{
    padding: 10px;
    flex-direction: column;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    border-color: #5C8021;
    border-style: solid;
    border-width: 1px;
    font-size: 1.2em;
    flex-direction: row;
}


.comment-area
{
    margin: 10px;
    padding: 20px;
}

.textarea
{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: #000000;
    resize: none;
    overflow: auto;
    border-radius: 5px;
    padding: 2px;
}

.button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border-color: #5C8021;
    color: white;
    height: 40px;
    background-color: #5C8021;
}

.button:hover
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    height: 40px;
    background-color: rgb(117, 164, 42);
    border-color: #5C8021;
}